{% extends "base.html.twig" %} 
{% block title %} About Us | {{parent()}} {% endblock %}
{% block body %}
    <h1>Built with &hearts;  Laby Damaro CAMARA</h1>
    <p> <a href="{{ path('pages') }}">Revenir à la page d'accueil</a> </p>
{% endblock %}