{% extends "base.html.twig" %} 
{% block title %} Hello City! {% endblock %}
{% block body %}
    <img src="{{asset('/img/guinea.jpg')}}" alt="from guinea" width="250" class="h-200 mt-5 rounded shadow-md"  />
    <h1 class="text-5xl md:text-2xl text-indigo-600 mt-5">Hello from Guinea</h1>
    <p class="text-lg text-gray-800"> it is {{'now' | date('h: i A', 'Africa/Conakry')}} </p>
{% endblock %}